body {
    margin: 2;
    padding: 2;
    background-color: 	#032e03;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    /* background-image: url('../images/acoustic-wallpaper-8.jpg'); */
    background-image: url('../images/Simple-wallpaper-for-desktop-free-download.jpeg');
  }
  
  header {
    grid-column: 1 / 4;
    grid-row: 1;
    
    margin: 0 auto;
    height: 50px;
    color:white;
    background-color: wheat;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
  }
  
  main{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
  }
  
  #btnDiv{
    color:white;
    grid-column: 1/ 1;
    grid-row: 1 / 3;
    font-size: 2em;
    background-color: 032e03;
  }

  
  div.card {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }
  
  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }
  
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: 1em;
    color: black;
    background-color:white;
    border-radius: 10px;
    
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }
  
  #timer{
    font-size: 3em;
    color: white;
    padding: 0em;
    text-align: justify;
  }

  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    color: black;
    }

    td {
    border:3px solid black;
    padding: 5px;
    color: black; 
    }

    #lyricsBox{
      border-radius: 25px;
      grid-column: 2 / 6;
      grid-row: 1/3;
      text-align: center;
      border:5px solid black;
      vertical-align: center;
      padding: 15px;
      background-color: grey;
      color: black;
      background-image: url('https://wallpapertag.com/wallpaper/full/7/c/9/131398-most-popular-grey-backgrounds-1920x1200-for-mobile-hd.jpg'); 
      /* background-image: url('https://wallpapertag.com/wallpaper/full/0/c/e/131406-best-grey-backgrounds-2560x1600-for-ios.jpg'); */
      /* background-image: url('../images/acoustic-wallpaper-8.jpg'); */
      background-repeat: no-repeat; 
      /* background-attachment: fixed;  */
      background-size: auto;
      background
      }

  


    