html{
  display:grid;
  height:100%;
  width:100%;
}
body {
  background-color: black;
  display: grid;
  background-image: url("../images/bg2.jpeg");
  /* background-image: url(‘../images/Simple-wallpaper-for-desktop-free-download.jpeg’); */
  min-height: 100%;
  min-width:100%;
  background-attachment: fixed;
  background-position: left bottom;
  background-repeat: no-repeat;
  
}
header {
 color: black;
}
header h2 {
  padding: -10;
  margin: 0;
}
 main{
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);   */
  /* grid-template-columns: 10px auto auto auto auto 10px; */
  /* grid-template-columns: 30px 200px auto 100px; */
  /* grid-template-columns: 40px 50px auto 50px 40px; */
  /* grid-template-columns: repeat(3, 1fr);  */
  /* grid-template-rows: repeat(3, 1fr);  */
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-gap: 10px; */
  /* grid-auto-rows: minmax(100px, auto); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 50px;
}
/* #btnDiv{
  color:white;
  grid-column: 1/ 1;
  grid-row: 1 / 3;
  font-size: 2em;
  background-color: 032e03;
} */
#btnDiv{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  flex-grow: 5;
  justify-content:space-evenly;
  color:white;
  grid-column: 1/ 2;
  grid-row: 1 / -1;
  font-size: 2em;
  background-color: 032e03;
}
div.card {
  background-color: #EEEEEE;
  height: 250px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 10px;
}

#titleDiv{
color:gray;
font-weight: bolder;
font-size: 50px;
font-stretch: ultra-expanded;
margin-block-start: 0em;
margin-block-end: 0em;
}

p{
  margin-block-start: 0em;
margin-block-end: 0em;
}
input{
  width: 250px;
  height: 40px;
  font-size: larger;
}
#completionCard{
  text-align: center;
  font-size: 1.5em;
  color: white;
  font-family: Helvetica;
  padding: 0em;
  /* text-align: justify; */
  margin: 5px;
  background-color: transparent;
  grid-column: 2 / 5;
  grid-row: 1/4;
  border-color: transparent;
  border-style: solid;
  height: 50%
}

#youtubeDiv {

  position: absolute;
  right: 300px;
  width: 300px;
  padding: 10px;
}
/* p {
  font-size: 1.5em;
  color: red;
  font-family: Helvetica;
  padding: 0em;
  text-align: justify;
  margin: 5px;
  background-color: salmon;
  grid-column: 2 / 4;
  grid-row: 2/3;
  border-color: sandybrown;
  border-style: solid;
} */
li {
  font-size: 1.05em;
  list-style: none;
  padding-right: 20px;
}
button {
  margin-top:5px;
  font-size: 1em;
  color: black;
  background-color:white;
  border-radius: 10px;
}
#scoreDiv{
  margin-top: 5px;
  font-size: 1em;
}
button.release {
  float: right;
  background-color: #E1332D;
}
#timer{
  font-size: 3em;
  color: white;
  padding: 0em;
  text-align: justify;
  margin: 5px;
  background-color: transparent;
}
#hintDiv{
  margin-top: 5px;
  color:white;
  outline: thick;
  outline-color: red;
}
/* @media only screen and (min-width: 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 850px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */
.parent {
  margin-right: 4em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: black;
    table-layout: fixed ;
  width: 100% ;
  }
  td {
  border:3px solid black;
  padding: 5px;
  color: black;
  }
  #youtubeDiv {
    position: absolute;
    right: 300px;
    width: 300px;
    padding: 10px;
  }
  #lyricsBox{
    font-size: 2.5vw;
    border-radius: 25px;
    grid-column: 2 / -1;
    grid-row: 1/-1;
    text-align: center;
    border:5px solid black;
    vertical-align: center;
    padding: 15px;
    background-color: grey;
    color: black;
    background-image: url("https://wallpapertag.com/wallpaper/full/7/c/9/131398-most-popular-grey-backgrounds-1920x1200-for-mobile-hd.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 25px;
    }